<div class="container">
    <p id="notice"></p>
      <div class="row">
        <div class="col-xs-3">
          <%= render "users/profile", user:@book.user %>
          <%= render "books/new", book:@post_book %>
        </div>
        <div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table">
		  <tbody>
		  	<tr>
        <td>
        	<%= link_to user_path(@book.user.id) do %>
        	<%= attachment_image_tag @book.user, :profile_image, fallback:"no_image.png", size: "100x100" %><br>
        	<%= @book.user.name %>
        	<% end %>

        </td>
        <td>
        	<%= link_to @book.title, book_path(@book) %>
        </td>
        <td>
        	<%= @book.body %>
        </td>

         <% if @book.user == current_user %>
         <td>
         	<%= link_to "Edit", edit_book_path(@book) %>
         </td>
         <td>
         	<%= link_to "Destroy", book_path,  method: :delete, "data-confirm" => "本当に消去しますか？", class:"btn-sm btn-danger destroy_book_8323"%>
         </td>
         <% end %>

      </tr>
    </tbody></table>

        </div>
      </div>
</div>
